.button {
    padding: 0.4rem 3rem;
    border-radius: 50px;
    border: $granite-gray 1px solid;
    background-color: $white;
    font-size: 75%;
    font-weight: $bold;
    color: $granite-gray;
  }