/* Base Styles*/
body {
    height: 100vh;
    background-color: $white;
    font-family: $Raleway;
    color: $granite-gray;
    text-align: center;
    
    p {
       font-size: $medium;
    }
}


