// Navbar 
.nav {
    height: 40px;
    
    
    &__logo {
        height: 25px;
        padding-left: 2rem;
        padding-top: 0.5rem;
        position: absolute;
        left: 5px;
    }

}


//Slogan

.slogan {
    background-color: $jelly-bean;
    height: 500px;
    width: 100vw;
    display:table-cell;
    vertical-align: middle;
    text-align: center; 
}


.slogan__text {
    text-align: center;
    color: $white;
    font-weight: $extra-light;
    font-size: $large;
    

    .slogan__text--highlight {
        font-weight: $bold;
    }
}
